/*-------- Universal styles -------*/

body {
    background-size: 100% 100%;
    background-image: url(images/); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1 {
padding: 4rem;
font-size: 5rem;
font-family: 'Oleo Script Swash Caps', cursive;
}

/*------- Utility Classes -------*/

.center {
text-align: center;
) 

.padded-lg {
padding: 10%;
}

.padded-sm {
padding: 1rem;
}

.margin-1 {
margin: 1rem;
}

.margin-10 {
margin: 10%;
}

.margin-5 {
margin: 5rem;
}

/*------ Custom classes -------*/
.parent {
  position: relative;
  top: 0;
  left: 0;
}

.chair {
 position: relative;
  top: 0;
  left: 0;
  border: 1px red solid;
  z-index: 1;
}

.man {
 position: absolute;
  top: 300px;
  left: 300px;
  border: 1px green solid;
  z-index: 3;
}

______________________________________
/*
#sign2 {
position: absolute; right: 25%; bottom: 7%; width: 30%; height: 35%;
}

/* seashells */

/* #sign3 {
width: 30%; height: 30%;
vertical-align: bottom;
}

#sea-shells-by-the-sea-shore {
position: absolute; top: 5%; left: 5%; width: 90%; text-align: center;
}

#shell-line-1, #shell-line-2 {
padding: 1em;
justify-content: center;
}

#shell-line-1 {
background-image: linear-gradient(180deg, #1d5c22, #f3f207);
border-radius: 1em 1em 0 0;
}

#shell-line-2 {
background-image: linear-gradient(180deg, #f3f207, #00bcd4);
border-radius: 0 0 1em 1em;
}

.shell {
width: 12vw; height: 25vh;
}

/* xmarks */

/* .unlocked {
transition: all .5s ease-in;
}

.unlocked:hover {
transform: translate(0, -30%);
}

#monkey {
position: absolute; bottom: 35%; width: 20%; height: 30%; right: 15%; 
background-image: url(images/monkey.png); background-size: 100% 100%;
}

#key {
position: absolute; bottom: 0%; left: 10%; width: 25%; height: 25%;
}

#tree3 {
position: absolute; bottom: 5%; width: 40%; height: 80%; right: 5%;
}

#chest {
position: absolute; bottom: 5%; width: 30%; height: 40%; left: 15%;
}

#lock {
position: absolute; bottom: 15%; width: 20%; height: 30%; left: 21%;
}

#lock::before {
content: ''; position: absolute; bottom: 0; left: 21%; width: 20%; height: 25%;
background-image: url(images/lock-back.png); background-size: 100% 100%;
}

#lock::after {
content: ''; position: absolute; bottom: 0; left: 21%; width: 20%; height: 25%;
background-image: url(images/lock-front.png); background-size: 100% 100%;
}

.lock {
position: absolute; bottom: 0; left: 21%; width: 20%; height: 25%;
}

#lid {
position: absolute; bottom: -35%; width: 30%; height: 80%; left: 15%;
}

#monkey.nice #key {
  animation-duration: 1s;
  animation-name: dropkey;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-delay: 0.5s;
} */
